<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.subtitle1">@User.FirstName @User.LastName</MudText>
            <div class="mb-3">
                <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{User.Id}.jpg")" class="employee-img rounded-circle img-fluid" />
            </div>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Link="@($"user-edit/{User.Id}")">Full details</MudButton>
        </MudCardContent>
    </MudCard>

